{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 2.0%, not dead"
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}